.spinner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#80a9e6, white, #9d3477);
}
.spinner {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  border-top: 4px solid #9d3477;
  animation: rotating 1s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
